*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --main-color : #3A81FF;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
.toDoBox{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
#InputBox{
    margin: 40px 0 20px 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(87, 87, 87);
    width: 280px;
    padding: 0 10px;
    color: var(--main-color);
    font-size: 1rem;
}
#InputBox:focus{
    outline: none;
}
#addTaskButton{
    font-size: 0.5rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    position: relative;
    top: 3px;
}
#addTaskButton:active , #clearAll:active ,.deleteButton:active{
    background-color: #5090ff;
}
.taskFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
#All,#pending,#completed{
   padding: 0 5px;
   text-transform: uppercase;
   font-size: 0.6rem;
   font-weight: 600;
   cursor: pointer;
}
#All{
    color: var(--main-color);
}
#clearAll{
    background-color: var(--main-color);
    color: white;
    padding: 5px 20px;
    border:  none;
    border-radius: 5px;
}
.taskBox{
    list-style: none;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
#taskList{
    list-style: none;
}
.displaylistItem{
    font-size: 1rem;
    padding-left: 5px;
    word-wrap: break-word;
    max-width: 250px;
    cursor: pointer;
}
.editAndDeleteBtns{
    display: flex;
    gap: 5px;
}
.overlay{
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
}
.editButton,.deleteButton{
    background-color: var(--main-color);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    border: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteButton:hover,#clearAll:hover{
    background-color: #5090ff;
}
.editButton:hover{
    background-color: #5090ff;
}
.editButtonDisabled{
    background-color: #9ab0d6;
}
.editButtonDisabled:hover{
    background-color: #9ab0d6;
}
.editButtonDisabled:active{
    background-color: #9ab0d6;
}
#pending:hover,#completed:hover{
    color: var(--main-color);
}